[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h1{
    margin : 0;
}

.wrapper{
    margin : 0 auto;
    width : 940px;
    height : 100%;
}

#header{
    width : 100%;
    height : 50px;
    color : #ffffff;
    background-color : #333333;
}

#header #logo {
    float : left;
    height : 100%;
}

#header #logo h1{
    line-height : 50px;
}

#header .nav {
    display : inline-block;
    float : right;
}

.nav li{
    float : left;
    line-height : 50px;
    padding : 0 10px;
}
.nav li + li{
    margin-left : 10px;
}

.clear:before, .clear:after {
    content:" ";
    display:table;
    clear:both;
}

td i{
    cursor : pointer;
}

td i + i{
    margin-left : 5px;
}