#container .wrapper{
    margin : 30px auto;
}
.search{
    position : relative;
    height : 30px;
}

.search label{
    position : absolute;
    top : 6px;
    left : 10px;
    z-index: 2;
}

.search input{
    padding-left : 30px;
    position : absolute;
    border : 1px solid #333333;
}

.video-wrapper{
    margin : 30px auto;
}

.alert.bg-info {
    margin-bottom : 20px;
    padding : 10px 20px;
    line-height : 25px;
}

#curr_video{
    display : none;
}

.videos{
    width : 100%;
    height : 360px;
    overflow: scroll;
}

.others-header{
    margin-bottom : 10px;
}

.other{
    cursor : pointer;
}

.video{
    cursor : pointer;
}

.video input{
    height : 20px;
}

.playing td{
    background-color : #fcf8e3 !important;
}

.video-options{
    text-align : right;
}