<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CedarTest</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'musics/css/test.css' %}" />
</head>
<body>
<div id="app-container">
    <div id="app-content" class="wrapper clear">
        <div id="header" class="clear">
            <div id="logo">
                <h1><b>부동산 C</b>AST</h1>
            </div>
        </div>
        <div id="content" class="clear">
            <div id="content-header" class="fixed">
                매물 목록
            </div>
            <div class="items clear">
                <div id="item0" class="item">
                    <div class="item-img"></div>
                    <div class="item-detail">
                        <div class="item-sqf clear"><p>140.14m<sup>2</sup></p></div>
                        <div class="item-price">40,000/200</div>
                        <div class="item-title">롯데캐슬 아파트 (13층)</div>
                        <div class="item-option">
                            <div class="item-status">
                                <i class="fa fa-play-circle"></i> 재생중
                            </div>
                            <div class="item-func">
                                <i class="fa fa-edit"> 수정</i> | <i class="fa fa-remove"> 삭제</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="item1" class="item">
                    <div class="item-img"></div>
                    <div class="item-detail">
                        <div class="item-sqf clear"><p>105.14m<sup>2</sup></p></div>
                        <div class="item-price">20,000/180</div>
                        <div class="item-title">임광3차 아파트 (7층)</div>
                        <div class="item-option">
                            <div class="item-status">
                                <i class="fa fa-play-circle"></i> 재생중
                            </div>
                            <div class="item-func">
                                <i class="fa fa-edit"> 수정</i> | <i class="fa fa-remove"> 삭제</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="item2" class="item">
                    <div class="item-img"></div>
                    <div class="item-detail">
                        <div class="item-sqf clear"><p>135.14m<sup>2</sup></p></div>
                        <div class="item-price">10,000/220</div>
                        <div class="item-title">이편한세상 아파트 (12층)</div>
                        <div class="item-option">
                            <div class="item-status">
                                <i class="fa fa-play-circle"></i> 재생중
                            </div>
                            <div class="item-func">
                                <i class="fa fa-edit"> 수정</i> | <i class="fa fa-remove"> 삭제</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="item3" class="item">
                    <div class="item-img"></div>
                    <div class="item-detail">
                        <div class="item-sqf clear"><p>140.14m<sup>2</sup></p></div>
                        <div class="item-price">2000/95</div>
                        <div class="item-title">신축 빌라 (5층)</div>
                        <div class="item-option">
                            <div class="item-status">
                                <i class="fa fa-play-circle"></i> 재생중
                            </div>
                            <div class="item-func">
                                <i class="fa fa-edit"> 수정</i> | <i class="fa fa-remove"> 삭제</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="item4" class="item">
                    <div class="item-img"></div>
                    <div class="item-detail">
                        <div class="item-sqf clear"><p>80.14m<sup>2</sup></p></div>
                        <div class="item-price">5000/100</div>
                        <div class="item-title">신축 빌라 (2층)</div>
                        <div class="item-option">
                            <div class="item-status">
                                <i class="fa fa-play-circle"></i> 재생중
                            </div>
                            <div class="item-func">
                                <i class="fa fa-edit"> 수정</i> | <i class="fa fa-remove"> 삭제</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="btn-upload">
                업로드
            </div>
        </div>
        <div id="footer" class="clear">
            FOOTER
        </div>
    </div>
</div>
<script src="{% static 'admin/js/jquery.js' %}" type="text/javascript"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>